<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redireciona todas as requisições que NÃO SÃO um arquivo ou diretório real
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Para o nosso único ponto de entrada: index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>